<% include ./partials/header %>

<h1>로그인</h1></h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="사용자 이름">
    <input type="password" name="password" placeholder="비밀번호">
    <input type="submit" value="로그인하기">
</form>

<% include ./partials/footer %>